<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
</head>
<body>
<h1>all获得所有对象</h1>
<h3>图书中的所有对象: {{ all_books }}</h3>
<h3>图书中的指定对象: {{ spec_books }}</h3>
<hr>

<h1>过滤器获得对象</h1>
<h3>exact过滤器: {{ book_exact }}</h3>
<h3>contains过滤器: {{ book_contains }}</h3>
<h3>startswith过滤器: {{ book_startswith }}</h3>
<h3>endswith过滤器: {{ book_endswith }}</h3>
<h3>isnull过滤器: {{ book_isnull }}</h3>
<h3>in过滤器: {{ book_in }}</h3>
<h3>gt过滤器: {{ book_gt }}</h3>
<h3>gte过滤器: {{ book_gte }}</h3>
<h3>lt过滤器: {{ book_lt }}</h3>
<h3>lte过滤器: {{ book_lte }}</h3>
<h3>iexact过滤器: {{ book_iexact }}</h3>
<h3>icontains过滤器: {{ book_icontains }}</h3>
<h3>istartswith过滤器: {{ book_istartswith }}</h3>
<h3>iendswith过滤器: {{ book_iendswith }}</h3>
<hr>

<h1>get获得单一对象</h1>
<h3>get获得对象: {{ book_get }}</h3>
<hr>

<h1>F对象和Q对象</h1>
<h3>F对象: {{ book_fobj }}</h3>
<h3>Q对象: {{ book_qobj }}</h3>
<hr>

<h1>聚合函数</h1>
<h3>Sum聚合函数: {{ book_sum }}</h3>
<h3>Count聚合函数: {{ book_count }}</h3>
<h3>count聚合函数: {{ book_count_new }}</h3>
<hr>

<h1>关联查询</h1>
<h3>外键查询英雄名: {{ hero_name }}</h3>
<h3>类查询书名: {{ book_title }}</h3>
<hr>
</body>
</html>