<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>算术操作符</title>
</head>
<body>
    <h1>这是==操作符: </h1>
    {% if a == b %}
        <div>a == b运算值为真</div>
    {% else %}
        <div>a == b运算值为假</div>
    {% endif %}
    <hr>

    <h1>这是!=操作符: </h1>
    {% if a != b %}
        <div>a != b运算值为真</div>
    {% else %}
        <div>a != b运算值为假</div>
    {% endif %}
    <hr>

    <h1>这是>=操作符: </h1>
    {% if a >= b %}
        <div>a >= b运算值为真</div>
    {% else %}
        <div>a >= b运算值为假</div>
    {% endif %}
    <hr>

    <h1>这是<=操作符: </h1>
    {% if a <= b %}
        <div>a <= b运算值为真</div>
    {% else %}
        <div>a <= b运算值为假</div>
    {% endif %}
    <hr>

    <h1>这是>操作符: </h1>
    {% if a > b %}
        <div>a > b运算值为真</div>
    {% else %}
        <div>a > b运算值为假</div>
    {% endif %}
    <hr>

    <h1>这是<操作符: </h1>
    {% if a < b %}
        <div>a < b运算值为真</div>
    {% else %}
        <div>a < b运算值为假</div>
    {% endif %}
    <hr>

</body>
</html>