<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for控制语句</title>
</head>
<body>
    <h1>这是已赋值变量:</h1>
    <h2>循环从1开始---</h2>
    {% for circle in circles %}
        <h3>这是第{{ forloop.counter }}次循环: 数字是{{ circle }}</h3>
    {% endfor %}
    <h2>循环从0开始---</h2>
    {% for circle in circles %}
        <h3>这是第{{ forloop.counter0 }}次循环: 数字是{{ circle }}</h3>
    {% endfor %}
    <hr>
    <h1>这是未赋值变量:</h1>
    {% for circle in errors %}
        <h3>这是第{{ forloop.counter }}次循环: 数字是{{ circle }}</h3>
        {% empty %}
        <h3>页面什么也没有留下!</h3>
    {% endfor %}
    <hr>
</body>
</html>