<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body>

{# 关闭转义 #}
{% autoescape off %}
<table>
    {% for message in messages %}
        <tr><td>尊姓大名:</td><td>{{ message.mess_username }}</td></tr>
        <tr><td valign="top">留言内容:</td><td>{{ message.mess_content }}</td></tr>
        <tr><td colspan="2"><hr></td></tr>
    {% endfor %}
</table>
{% endautoescape %}
<td></td>

<form method="post" action="{% url 'tpl:message' %}">
    <table>
        {% csrf_token %}
        <tr><td>留言人:</td><td><input type="text" style="width: 300px;" name="username"></td></tr>
        <tr><td valign="top">留言内容:</td><td><textarea style="width: 300px;height: 100px;" name="message"></textarea></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" value="提交留言"></td></tr>
    </table>
</form>
</body>
</html>
