<html>
    <div class="pagination" style="text-align:center;">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}">              
                    <button class="ui teal left floated labeled icon button">
                        <i class="left arrow icon"></i>
                            上一页
                    </button>
                </a>
            {% endif %}     
            
            <div class="ui large teal label" style="margin:0 auto; margin-top:5px;">
            {{ page.number  }} / {{ page.paginator.num_pages  }}
            </div>
    <!--        
            {% for p in page.paginator.page_range %}
                {% ifequal p page.number %}
                <div class="ui teal label">
                    <a class="active">{{p}}</a>
                </div>
                {% else %}
                <div class="ui teal label">
                    <a href="?page={{p}}">{{p}}</a>
                </div>
                {% endifequal %}
            {% endfor %}
    -->        
            <!--    Page {{ page.number }} of {{ page.paginator.num_pages }}. -->

            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">            
                    <button class="ui teal right floated right labeled icon button">
                        <i class="right arrow icon"></i>
                            下一页
                    </button>
                </a>
            {% endif %}
        </span>
    </div>
</html>
