{% extends 'blog/base.html' %}
{% load custom_markdown %}
{% block content %}
<style>
    .post{
    line-height:2;
    }
</style>


<div class="ui container stackable grid">
    <div class="twelve wide column">   
        <div class="ui raised very padded container segment">
            <div class="post">  
                {% for post in posts %}
                    <h2 style="margin-top:0px;"><a href="{% url 'post_detail' pk=post.pk %}">
                        <div style="margin-top:10px;">{{ post.title }}</div>
                        </a>
                    </h2>
                
                    <div class="date-author" style="float:left;margin-top:5px;margin-bottom:10px;">
                        <div class="ui Teal label">时间
                            <i class="detail">{{ post.published_date|date:"Y-m-d H:m"}}</i>
                        </div>
                            
                        <div class="ui Teal label">作者
                            <i class="detail">{{post.author}}</i>
                        </div>
                    </div>    
                    <div class="count" style="float:right;margin-top:5px;margin-bottom:10px;">
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <i class="ui Red label">阅读
                                <i class="detail">{{post.click_number}}</i>
                            </i>
                        </a>  
                        
                        <div class="ui Teal label">评论
                            <i class="detail">{{post.comment_number}}</i>
                        </div>
                
                        <div class="ui teal label post-likes" id="heart-icon" data-post-id="{{ post.id }}">
                            <i class="tiny red like icon" id="heart-icon"></i>
                            <i class="like_count_blog" id="heart-counter">{{ post.likes }}</i>
                        </div>                                               
                    </div> 
                                   
               
                    <div class="ui clearing divider"></div>
                    <div>                
                    {% autoescape off %}
    
                    {{post.text|custom_markdown|truncatechars:400}}
                  
                    {% endautoescape %}
                    </div>
                <!--    
                    <p>{{ post.text|truncatechars_html:140|linebreaksbr }}</p>
                -->
                    <div class="ui clearing divider"></div>
                {% endfor %}
                <div class="page-num",style="float:right;">
                    {% include "blog/pagination_list.html" with page=posts %} 
                </div>  
            </div>                                 
        </div>           
    </div>
       
    <div class="four wide column">
        <div class="ui raised segment">
            <img src="https://images.unsplash.com/photo-1445272885371-027f17af0130?dpr=1&auto=format&fit=crop&w=767&h=431&q=80&cs=tinysrgb&crop=" width="100%" id="img"></img>  
        </div>
        <div class="ui raised very padded container segment">
            <img src="https://images.unsplash.com/photo-1476610182048-b716b8518aae?dpr=1&auto=format&fit=crop&w=767&h=464&q=80&cs=tinysrgb&crop=" width="100%" id="img"></img>  
        </div>
        <div class="ui raised very padded container segment">
            <img src="https://images.unsplash.com/photo-1444011283387-7b0f76371f12?dpr=1&auto=format&fit=crop&w=767&h=1006&q=80&cs=tinysrgb&crop=" width="100%" id="img"></img>   
        </div> 
    </div>
  
       
{% endblock content %}