{% extends 'blog/base.html' %}
{% load semanticui %}

{% block content %}

<link rel="stylesheet" href="https://cdn.rawgit.com/xcatliu/simplemde-theme-base/master/dist/simplemde-theme-base.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<div class="post-edit" style="align:center;">
    <div class="ui raised very padded segment" style="margin:0 auto; width:80%;">
        <h1><strong>文章编辑</strong></h1>
        <br/>
       
        <form action="" class="ui form" method="POST">
            {% csrf_token %}
            {{ form|semanticui }}
            <button class="ui primary submit labeled icon button" type="submit">
                <i class="icon edit"></i>提交</button>
        </form>  
    <!-- 
         <form method="POST" class="ui form post-form">{% csrf_token %}
            {{ form|semanticui}}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    --> 
    </div>
</div>

<script>

//var simplemde = new SimpleMDE();

// Most options demonstrate the non-default behavior
// Customize only the order of existing buttons
var simplemde = new SimpleMDE({
    renderingConfig: {

		codeSyntaxHighlighting: true,
	},
});

</script>

{% endblock %}