h1,h2,h3,h4,h5,h6,body,ul,ol,dl,dd,p{
    /*去掉默认样式*/
    margin: 0;
    padding: 0;
}

ul,ol{
    /*去掉列表左侧的原点或数字*/
    list-style: none;
}

a{
    /*去掉下划线*/
    text-decoration: none;
}

em,i{
    /*去掉斜体*/
    font-style: normal;
}

b,strong{
    /*去掉粗体*/
    font-weight: normal;
}

/*清除浮动的影响*/
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;    
}

.clearfix{
    /*兼容ie*/
    zoom:1;
}