<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是deploy首页</title>
</head>
<body>
<h1>deploy网站列表</h1>
<h3><a href="{% url 'index' %}">回到首页</a></h3>
<h3><a href="{% url 'deploy:staticfile' %}">staticfile</a></h3>
<h3><a href="{% url 'deploy:fileupload' %}">fileupload</a></h3>
<h3><a href="{% url 'deploy:fileuploadhandle' %}">fileuploadhandle</a></h3>
<h3><a href="{% url 'deploy:paginator' %}">paginator</a></h3>
<h3><a href="{% url 'deploy:city' %}">city</a></h3>
<h3><a href="{% url 'deploy:city_handle' %}">city_handle</a></h3>
<h3><a href="{% url 'deploy:middleware_process' %}">middleware_process</a></h3>
<h3><a href="{% url 'deploy:middleware_error' %}">middleware_error</a></h3>
<h3><a href="{% url 'deploy:tinymce_edit' %}">tinymce_edit</a></h3>
<h3><a href="{% url 'deploy:tinymce_save' %}">tinymce_save</a></h3>
<h3><a href="{% url 'deploy:tinymce_show' %}">tinymce_show</a></h3>
<h3><a href="{% url 'deploy:sendmail' %}">sendmail</a></h3>
<h3><a href="{% url 'deploy:celery' %}">celery</a></h3>
<h3><a href="{% url 'deploy:uwsgi' %}">uwsgi</a></h3>
</body>
</html>