<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是view首页</title>
</head>
<body>
<h1>view网站列表</h1>
<h3><a href="{% url 'index' %}">回到首页</a></h3>
<h3><a href="{% url 'view:error500' %}">error500</a></h3>
{#<h3><a href="{% url 'view:urlreverse' %}">urlreverse</a></h3>#}
{#<h3><a href="{% url 'view:urlreversekey' %}">urlreversekey</a></h3>#}
<h3><a href="{% url 'view:urlget' %}">urlget</a></h3>
<h3><a href="{% url 'view:urlgetsolve' %}">urlgetsolve</a></h3>
<h3><a href="{% url 'view:urlpost' %}">urlpost</a></h3>
<h3><a href="{% url 'view:urlpostsolve' %}">urlpostsolve</a></h3>
<h3><a href="{% url 'view:urlresponse' %}">urlresponse</a></h3>
<h3><a href="{% url 'view:urlredirect' %}">urlredirect</a></h3>
<h3><a href="{% url 'view:urlredirectshort' %}">urlredirectshort</a></h3>
<h3><a href="{% url 'view:ajax' %}">ajax</a></h3>
<h3><a href="{% url 'view:cookieset' %}">cookieset</a></h3>
<h3><a href="{% url 'view:cookieget' %}">cookieget</a></h3>
<h3><a href="{% url 'view:cookiedel' %}">cookiedel</a></h3>
<h3><a href="{% url 'view:sessionset' %}">sessionset</a></h3>
<h3><a href="{% url 'view:sessionget' %}">sessionget</a></h3>
<h3><a href="{% url 'view:sessiondel' %}">sessiondel</a></h3>
</body>
</html>