<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>html转义</title>
</head>
<body>
    <h1>单行转义</h1>
    <h2>html单行转义</h2>
    {{ content }}
    <h2>取消单行转义</h2>
    {{ content | safe }}
    <hr>

    <h1>多行转义</h1>
    <h2>html多行转义</h2>
    {{ contentarea }}
    <h2>取消多行转义</h2>
    {% autoescape off %}
    {{ contentarea }}
    {% endautoescape %}
    <hr>

    <h1>硬编码转义</h1>
    <h2>default硬编码不转义</h2>
    {{ data|default:"<h3>default内容不转义</h3>" }}
    <hr>
</body>
</html>