<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <link rel="shortcut icon" href="../images/logo.ico">
    <title>博学谷学员系统-首页</title>
    <link rel="stylesheet" href="../less/home.css">
    <link rel="stylesheet" href="../common/js/pagination/pagination.css">
    <script type="text/javascript" src="../common/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../common/js/pagination/pagination.js"></script>
    <script type="text/javascript" src="../js/mDatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../js/layer-v2.1/layer/layer.js"></script>
    <script type="text/javascript" src="../common/js/picupload.js"></script>
    <script type="text/javascript" src="../js/preson/corpbox/cropbox.js"></script>
    <script type="text/javascript" src="../common/js/common.js"></script>
    <script type="text/javascript" src="../js/laydate/laydate.js"></script>
    <!--路由的文件引用-->
    <script src="../js/lib/director.min.js"></script>
    <script>
        document.write("<s" + "cript type='text/javascript' src='../js/home.js?" + Math.random() + "'></scr" + "ipt>");
    </script>
    <script>
        function userlogout(event) {
            // alert("为了解决突然下线的问题，先在这里加一个标记，如果不是你自己点击了 '退出' 显示的这些消息，请停止操作并联系苏印。");
            delCookie("", -1);
            location.href = '/logout';
            event.stopPropagation();
            event.preventDefault();
        }
        function delCookie(value, exdays) {
            var date = new Date();
            var ms = exdays * 24 * 60 * 60 * 1000;
            date.setTime(date.getTime() + ms);
            document.cookie = "source=" + value + ";path=/;domain=.boxuegu.com" + ";expires=" + date.toGMTString();
        }
//         $(function () {
//             var bowerSupport = false;
//             var Sys = {};
//             var ua = navigator.userAgent.toLowerCase();
//             var s;
//             (s = ua.match(/rv:([\d.]+)\) like gecko/)) ? Sys.ie = s[1] :
//                     (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
//                             (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
//                                     (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
//                                             (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
//                                                     (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;

//             if (Sys.firefox) bowerSupport = true;
//             if (Sys.chrome) bowerSupport = true;
//             if (Sys.safari) bowerSupport = true;

//             if (!bowerSupport) {
//                 $('.warning').removeClass('bowerSupport')
//             };
//         });
    </script>
</head>
<body id="mainBody2LoadContent_in_index">
<!-- <div class="warning bowerSupport"><i class="iconfont icon login-warning">&#xe63d; </i> 提示：目前本系统适配火狐浏览器、Google -->
<!--     Chrome、Safari(苹果浏览器)，其它浏览器可能无法完美运行!(不建议使用) -->
<!-- </div> -->
<div class="header" id="home">
    <div class="top">
        <p class="logo">
            <img src="../images/logo.png" alt="" onclick="dj(this,0);"/>
        </p>
        <ul class="dj">
            <li data-idx="0" onclick="dj(this,0);">首页</li>
            <li class="listudy" data-idx="0">我的学习
                <ul class="cd">
                    <!--<li data-idx="1" onclick="dj(this,1);">预习</li>-->
                    <li data-idx="5" onclick="dj(this,5);">我的课表</li>
                    <li data-idx="7" onclick="dj(this,7);">学习目标</li>
                    <li data-idx="8" onclick="dj(this,8);">每日测评</li>
                    <li data-idx="4" onclick="dj(this,4);">每日作业</li>
                    <li data-idx="3" onclick="dj(this,3);">阶段考试</li>
                    <li ><a onclick="location.href = '#errorColle'">错题集</a></li>
                </ul>
            </li>

            <li class="listudy listbanji">我的班级
                <ul class="cd">
                    <li><a path="#myclass">班级主页</a></li>
                    <li><a path="#group/">小组主页</a></li>
                    <li data-idx="2" onclick="dj(this,2);">教师评分</li>
               <!-- <li><a path="#pingfen/scorelist.html">教师打分</a></li> -->
                    <li><a path="#class/active">班级活动</a></li>
                <!--<li><a path="#diary">优秀日记</a></li> -->
                </ul>
            </li>
            <li onclick="location.href = '#personal/personIndex/'">个人主页</li>
            <li class="goto-myinfo">
                <i class="iconfont" title="我的消息" onclick="location.href = '#personal/myinfo/'">&#xe676;</i>
                <span class="info-tip"></span>
            </li>
        </ul>
        <div data-idx="6" class="photo">
        <span style="cursor: pointer; display: inline-block" data-idx="6" onclick="dj(this,6);"><img alt="" class="pho">
            <span class="loginname"></span></span>
            <div class="backc">
                <img src="../images/tuic_03.png" alt="" class="arrowImg">
                <div class="prsont">
                    <img src="../images/zhix.png" alt="" class="jt">
                    <ul>
                        <li data-idx="6" class="actSetting" onclick="dj(this,6);"><span><img src="../images/xr_03.png" alt="" class="t">账号设置</span>
                        </li>
                        <li onclick="userlogout(event)"><span><img src="../images/close_03.png" alt="" class="t y">退出</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main" id="mainDiv2LoadIframe_in_index">
    <!--iframe容器 用于传统模式页面容器-->
    <iframe id="iframepage" name="iframepage" width="1200" allowfullscreen mozallowfullscreen webkitallowfullscreen
            frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0" onLoad="iFrameHeight(this)"></iframe>

    <!--div预留容器 用于单页程序(SPA)容器-->
    <div class="view-container"></div>
</div>
<div class="clear"></div>
<div class="foot">
    <ul>
        <li>关于我们</li>
        |
        <li>意见反馈</li>
        |
        <li>联系我们</li>
        |
        <li>官方微博</li>
        |
        <li>免费公开课</li>
    </ul>
    <p>江苏传智播客教育科技有限公司 版权所有Copyright 1999-2015, CSDN.NET, All Rights Reserved 京ICP备08001421号-2
		<span class="count">
                    <script type="text/javascript">
                        var url = window.location.href;
                        var leng_ = url.indexOf("//") + 2;
                        var surl = url.substr(leng_, 6);
                        var count = "";
                        //console.log(surl);
                        if (surl == 'nsdual') {

                        } else {
                            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                            document.write(unescape("%3Cspan id='cnzz_stat_icon_1260498185'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260498185%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                        }
                    </script>
		</span>
    </p>
</div>
<a href="javascript:openTicking()" title="意见反馈" class="fixed-link idea-ticking"><i class="iconfont">&#xe688;</i></a>
<a href="#home" class="fixed-link back-top-arrow" style="display: none;"><i class="iconfont">&#xe65e;</i></a>
<!--require.js引用 主模块引用-->
<script data-main="../js/main.js" src="../js/lib/require.js"></script>
</body>
<!--意见反馈 start-->
<form id="ideaCon" class="idea-ticking-con">
    <div class="tic-group-wrap">
        <span class="grp">反馈类型：</span>
        <label for="xt"><input id="xt" type="radio" value="0" name="ticking">系统反馈</label>
        <label for="jx"><input id="jx" type="radio" value="1" name="ticking">教学反馈</label>
        <label for="other"><input id="other" type="radio" value="2" name="ticking">其它</label>
    </div>
    <div class="tic-group-wrap">
        <textarea name="tickcon" id="" maxlength="500" class="tick-textarea" placeholder="请填写具体内容帮助我们了解您的意见与建议。"></textarea>
        <p class="tick-char"><label for="" class="connull" style="display: none;float: left;color: red">内容不能为空!</label><span class="ticking-num">0</span>/500</p>
    </div>
    <div class="tic-group-wrap">
        <label for="niming"><input id="niming" value="0" type="checkbox" name="niming">匿名反馈</label>
    </div>
</form>
<!--意见反馈 end-->
<!--账号设置中基本信息的弹框 start-->
<div id="phoneWrap" class="baseInfoDialog">
    <input type="text" class="input-style phone" valid="require" placeholder="请输入新手机号">
    <span class="dialogErr"></span>
    <div style="position: relative">
        <input type="text" class="input-style code" valid="require" style="width: 142px;" placeholder="请输入验证码">
        <span class="dialogErr yzmerr"></span>
        <button type="button" class="sendAuthCode">发送验证码</button>
    </div>
</div>
<div id="emailWrap" class="baseInfoDialog">
    <div style="margin-bottom: 20px;">
        登录名：<span class="ewloginname"></span>
    </div>
    <input type="text" class="input-style email"  valid="require" placeholder="请输入邮箱地址">
    <span class="dialogErr"></span>
</div>
<div id="qqWrap" class="baseInfoDialog">
    <i class="iconfont qqicon">&#xe672;</i>
    <input type="text" class="input-style qq"  valid="require" style="padding-left: 35px;" placeholder="请输入QQ">
    <span class="dialogErr"></span>
</div>
<!--账号设置中基本信息的弹框 end-->
<div id="first-login-layer" style="display: none">
    <div class="title"><img src="../images/welcome_login.png"/><h3>欢迎登录博学谷-双元学生系统</h3></div>
     <div class="tabfx">
        <div class="jz yxscholl"> 
            <p><label><span></span>原始密码：</label><span><input type="password" class="oldpassword"  onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"></span><p class="error error_oldpassword"></p></p>
            <p><label><span></span>新 密 码 ：</label><span><input type="password" class="newpassword"  maxlength="16" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"></span><p class="error error_newpassword"></p></p>
            <p><label><span></span>确认密码：</label><span><input type="password" class="renewpassword"  onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"></span><p class="error error_renewpassword"></p></p>
        </div>
    </div>
</div>

</html>