/*导航栏反色*/
.navbar-inverse {
    background-color: #ff722b;
    border-color: #ff722b;
}
/*导航栏选中按钮*/
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #e95307;
}
/*导航栏标题*/
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
/*导航栏logo*/
.navbar-brand {
    padding-top: 5px;
}
/*去除导航栏的间距*/
.navbar {
    margin-bottom: 0;
}
/*去除三线按钮的样式*/
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #e95307;
}
/*清楚下拉菜单的黑线*/
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #fff;
}




/*横幅*/
.jumbotron {
    background: url("../images/banner_bg.jpg");
    padding: 22px;
    margin-bottom: 0;
}
/*横幅一级标题*/
.bg-title{
    margin: 42px 0 0 0;
}
/*横幅二级标题*/
.bg-subtitle{
    font-size: 18px;
    color: #ffff00;
} 
/*横幅介绍*/
.jumbotron .bg-des{
    font-size: 14px;
    color: #fff;
    line-height: 28px;
} 
@media(max-width:992px){
    /*标题图片 响应式*/
    .bg-title{
        margin-top: 5px;
    }
}





/*活动标题*/
.activity-title h2{
    font-size: 30px;
    margin: 32px 0 23px;
}
/*活动文字*/
.activity-des p{
    font-size: 14px;
    line-height: 20px;
}
/*活动图片*/
.activity-pic ul{
    border: 1px solid #dddddd;
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
/*活动图片文字*/
.activity-pic p{
    margin: 15px 0 18px;
    font-size: 15px;
}




/*商品信息*/
.goods-title{
    background-color: #e95307;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*商品信息文字*/
.goods-title h3{
    font-size: 16px;
    line-height: 40px;
    text-indent: 8px;
    margin: 0;
    color: #fff;
}
.goods-title a{
    font-size: 12px;
    line-height: 12px;
    margin: 20px 12px 8px;
    color: #fff;
}

@media(min-width:1200px){
    .col-lg-2 {
        width: 20%
    }
}
/*商品列表*/
.subgoods{
    /*margin-left: auto;
    margin-right: auto;*/
}
.thumbnail{ 
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
}
.subgoods h3{
    font-size: 14px;
}
.subgoods p{
    font-size: 16px;
    color: #ff0000;
}
.subgoods span{
    font-size: 22px;
}


/*网页底部*/
.container-fluid{
    background-color: #ff722b; 
    line-height: 28px;  
    color: #fff;
    margin-top: 7px;
}

.container-fluid .footer{
    margin-top: 26px;
    margin-bottom: 20px;
    font-size: 0px;
}

.container-fluid a{
    font-size: 12px;
    color: #fff; 
    display: inline-block;
}

.container-fluid span{
    font-size: 12px;
    margin: 0 8px 0; 
    display: inline-block;    
}

.container-fluid p{
    margin-bottom: 0;
    font-size: 12px;
}