/* 清除标签默认的外边和内边距 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0px;
    padding:0px;
}

/* 清除标签默认条目符号 */
ul,ol{
    list-style:none;
}

/* 将h标签的文字大小设置为默认大小 */
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    /* 根据实际需求来加   */
    font-weight:normal;
}
/* 去掉a标签默认的下划线 */
a{
    text-decoration:none;
}
/* 去掉标签默认的文字倾斜 */
em,i{
    font-style:normal;
}
/* 去掉标签默认的文字加粗(按实际需求) */
b,strong{
    font-weight:normal;
}
/*输入框清除边框*/
input{
	outline:none;
}
/*解决margin top塌陷和浮动时父级无法撑开的问题*/
.clearfix:before,.clearfix:after{
    content:'';
    display:table;
}
.clearfix:after{
	clear:both;
}
/*考虑兼容性*/
.clearfix{
	zoom:1;
}