@font-face {
  font-family: 'iconfont';
  src: url('../../js/font/iconfont.eot');
  /* IE9*/
  src: url('../../js/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../js/font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../../js/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../js/font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
div {
  padding: 0px;
  margin: 0px;
}
body {
  min-width: 1200px;
}
input,
textarea,
button {
  outline: none;
}
.warning {
  line-height: 36px;
  font-size: 14px;
  text-align: center;
}
.warning.bowerSupport {
  display: none;
}
.warning .login-warning {
  color: red;
}
.logheader {
  width: 269px;
  height: 60px;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 1%;
  background: url("../../images/login_logo.png") no-repeat;
}
.logban {
  width: 100%;
}
.logbanner {
  width: 100%;
  height: 396px;
  background: url("../../images/login_banner_bg.jpg") center center no-repeat;
  position: relative;
}
.banimg {
  /*margin: 0 auto;height:100%;
  background: url("images/login_1_02.png") no-repeat;
  background-size: 100%;
  position: relative;*/
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.prim-color {
  color: #1eb69c;
  text-decoration: none;
}
.gray-color {
  color: #8fa4b0;
}
.font14 {
  font-size: 14px;
}
.stu-noSend {
  background-color: #a7b0b7!important;
  color: #fff;
}
.logform {
  box-sizing: border-box;
  width: 300px;
  padding: 22px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 10%;
  left: 58%;
}
.logform #pwd {
  margin: 10px 0px;
}
.logform ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logform input {
  box-sizing: border-box;
  vertical-align: middle;
}
.logform .login_title {
  font-size: 18px;
  color: #555;
  text-align: center;
}
.logform .container-box {
  position: relative;
}
.logform .container-box .input-wid {
  height: 36px;
  width: 250px;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.logform .login-font {
  position: absolute;
  left: 10px;
  line-height: 36px;
  color: #999;
}
.logform .errorInfo {
  color: #ff471c;
  font-size: 12px;
  margin: 4px 0;
}
.logform .errorInfo .iconfont {
  font-size: 12px;
}
.logform .login-aboutPwd {
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
}
.logform .aboutPwd {
  font-size: 12px;
  color: #555;
  margin-top: 10px;
}
.logform .aboutPwd span {
  cursor: pointer;
}
.logform .forgetPwd {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.logform .forgetPwd a {
  color: #555;
  text-decoration: none;
}
.logform .rempwd {
  vertical-align: middle;
}
.logform .loginBtn {
  background: #1eb69c;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 0!important;
}
.logform .verify {
  width: 150px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.logform .verify-box {
  width: 250px;
  overflow: hidden;
}
.logform .send-verify {
  display: inline-block;
  float: right;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  font-size: 12px;
}
.icon-list {
  overflow: hidden;
  font-size: 12px;
}
.icon-list > li {
  float: left;
}
.icon-list > li .iconfont {
  font-size: 48px;
}
.icon-list .fist-icon {
  position: absolute;
}
.icon-list .fist-icon .iconfont {
  position: relative;
  left: 10px;
}
.icon-list .line {
  width: 137px;
  margin-top: 26px;
  border-bottom: 1px solid #1eb69c;
  margin-left: 56px;
}
.icon-list .gray-line {
  border-bottom: 1px solid #8fa4b0;
}
.icon-list .secod-icon {
  left: 90px;
}
.icon-list .secod-icon > p {
  margin-left: 13px;
}
.icon-list .secod-line {
  margin-left: 47px;
}
/**********登录样式***********/
.login-box {
  margin-top: 32px;
}
.login-box .input-wid {
  padding-left: 34px;
}
/**********手机找回密码样式***********/
.findpwd-phone .input-wid {
  padding-left: 10px;
}
/**********重置密码样式***********/
.reset-pwd .input-wid {
  padding-left: 34px;
}
.reset-pwd .login-name {
  font-size: 12px;
}
/**********邮箱找回密码***********/
.findpwd-emial .input-wid {
  padding-left: 10px;
}
.findpwd-emial .icon-list .line {
  width: 44px;
}
/**********邮箱重置***********/
.reset-email .input-wid {
  padding-left: 34px;
}
.reset-email .icon-list .line {
  width: 44px;
}
.reset-email .login-name {
  font-size: 12px;
}
.loginm img {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.mima {
  background: url("../../images/mima_06.png") no-repeat;
  width: 36px;
  height: 27px;
}
.foot {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
