<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login system</title>
</head>
<body>
    <div align="center">
        {% if message %} {{message}} {% endif %}
    <form method="post">
        <input type="text",name="username",placeholder="username"/>
        <br/>
        <input type="password",name="password",placeholder="password"/>
        <br/>
        <input type="submit", value="submit"/>
        <input type="reset", value="reset"/>
    </form>
    </div>>
</body>
</html>