<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是model首页</title>
</head>
<body>
<h1>model网站列表</h1>
<h3><a href="{% url 'index' %}">回到首页</a></h3>
<h3><a href="{% url 'model:dormitory' %}">dormitory</a></h3>
<h3><a href="{% url 'model:manager' %}">manager</a></h3>
<h3><a href="{% url 'model:queryset' %}">queryset</a></h3>
<h3><a href="{% url 'model:area' %}">area</a></h3>
<h3><a href="{% url 'model:order' %}">order</a></h3>
<h3><a href="{% url 'model:book' %}">book</a></h3>
<h3><a href="{% url 'model:hero' %}">hero</a></h3>
<h3><a href="{% url 'model:place' %}">place</a></h3>
<h3><a href="{% url 'model:restaurant' %}">restaurant</a></h3>
<h3><a href="{% url 'model:bookmanage' %}">bookmanage</a></h3>
{#<h3><a href="{% url 'model:logicaldelete' %}">logicaldelete</a></h3>#}
</body>
</html>